body{
  background: #8A0808;
}
.menu{
  background: #6E6E6E;
  width: 1340px;
}
.dropdown{
  display: inline-block;
  margin: 10px 0 0;
}
.dropdown a{
  color: white;
  padding: 30px;
}
.list li{
  transition: 0.5s;
}
.list li:hover{
  box-shadow: 2px 2px 5px #610B21;
  background: #D8D8D8;
}
.imagenes{
  width: 1340px;
}
.escuelas{
  background: #FF8000;
  width: 1350px;
}
.escuelas a{
  color: #2A1B0A;
  text-decoration: none;
}
.escuelas a:hover{
  transform: scale(1.2)
}