.menu{
  background:#A30936;
  padding: 10px;
  width: 1361px; 
}
.menu li:hover{
  background-color:#8A0829;
}
.list-nav li:hover{
  text-decoration: none;
  transform: scale(1.2)
  }
.menu li{
  display: inline-block;
  padding: 10px;
  box-shadow: 2px 2px 5px #610B21;
}
.menu a{
  color: white;
  font-size: 16px;
}
.imagenes  li img{
  width: 100px;
}
.escuelas {
  background: #DDD7CB;
  width: 1361px;  
}
.noticias{
  background:url(../img/fondos/imagen2.png);
  background-size: cover;
  width: 1361px;
  padding: 20px;
  overflow-y:auto; 
}
.nota{
  background:#FACC2E;
  width: 35%;
  border-radius: 5px 30px 45px 60px;
  box-shadow: 2px 2px 5px #999; 
}
.nota img{
  width: 200px;
  height: 200px;
}