body{
  background: #EFECE7;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
h2 h3 h4{
  font-color: #A30936;
}
.menu{
<<<<<<< HEAD
  background: #95917F;
  width: 100%;
  height: 150px;
}
.main-menu.row{
  background: #95917F;
  width: 100%;
  display: inline-block;

}
.dropdown{
  display: inline-block;
  margin: 30px 10px ;
  text-align: center;
}
.dropdown a{
  color: #333;
  padding: 30px;
  margin: 15px;
}
.list li{
  transition: 0.5s;
}
.list li:hover{
  box-shadow: 2px 2px 5px #610B21;
  background: #D8D8D8;
}
.imagenes{
  width: 100%;
}
.escuelas{
  background: #95917F;
  width: 100%;
  padding: 40px;
}
.escuelas a{
  color: #2A1B0A;
  text-decoration: none;
}
.escuelas a:hover{
  transform: scale(1.2)
}
.noticias{
  background: #DDD7CB;
  width: 100%;
  padding: 30px;
}
.nota{
  padding: 40px;
}
.nota img{
  width: 200px;
  height: 200px;
  margin: 0 0 20px;
}
.direc{
  background: white;
  width: 100%;
  padding: 30px;
}
.direc p{
  color: solid gray;
}