/* Main styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.text--transparent {
  fill: transparent;
}

.anim-shape {
  -webkit-transform-origin: 0x 150px;
  -ms-transform-origin: 0x 150px;
  transform-origin: 0x 150px;
  -webkit-transform: scale(0, 1) translate(0, 0);
  -ms-transform: scale(0, 1) translate(0, 0);
  transform: scale(0, 1) translate(0, 0);
  -webkit-animation: moving-panel 3s infinite alternate;
  animation: moving-panel 3s infinite alternate;
}

.colortext .anim-shape:nth-child(1) {
  fill: #A30936;
}

.colortext .anim-shape:nth-child(2) {
  fill: #A30936;
}

.colortext .anim-shape:nth-child(3) {
  fill: #A30936;
}

.colortext .anim-shape:nth-child(4) {
  fill: #A30936;
}

.colortext .anim-shape:nth-child(5) {
  fill: #A30936;
}

.shadow {
  -webkit-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}

.anim-shape--shadow {
  fill: #000;
  fill-opacity: .2;
}

@-webkit-keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}

@keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}

/* Other stuff */

.titulo {
  background:#95917F;
  font: 4.4em/1 Open Sans, Impact;
  text-transform: uppercase;
  height: 200px;
}

svg {
  position: relative;
  width: 100%;
  height: 100%;
}
h2,p,li{
  color: gray;
}
li{
  text-align: justify;
}
.concepto{
  display: table;
  border:transparent;
}
.industrial{
  background: #EFECE7;
  width: 1345;
}
.industrial p{
  color:  gray;
  width:80%;
  position: relative;
  left:10%;
  padding:20px;
}
.cuadro{
  padding: 40px;
}
.obj{
  background: #EFECE7;
  width: 35%;
  height: 35%;
  border-radius: 5px 30px 45px 60px;
  box-shadow: 2px 2px 5px #999;
}
{
  color: black;
}
.lista h2{
  padding: 0 0 50px 0;
}
.campo{
  position: relative;
  left: 20%;
  width: 800px;
  border:transparent;
  display: table;
}